# Compiled Object files
build
*.slo
*.lo
*.o
*.obj
build*
*.lib
*.a
*.dylib
*.dll

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app
*.mexmaci64
*.mexw64
*.mexa64

# System files
*.DS_Store
*~

html/